{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<div class="detailWrapper">
<h1 id="detail">{{ poll.question }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
<div class="choices">
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label id="detail" for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<button type="submit" id="vote">Vote!</button>

</div>
<a id="homeButton" href="{% url 'polls:index' %}">Home</a>
</form>

</div>